*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: aqua;
    font-family: Arial, Helvetica, sans-serif;
    outline: none;
}
.container{
     height: 100vh;
     display: flex;
     justify-content: center;
     align-items: center;

}
.calculator{
    background-color: blueviolet;
    padding: 15px;
    border-radius: 30px;
    box box-shadow: inset 5px 5px 12px #ffffff ;
                          5px 5px 12px rgba(0,0,0,.16);
    display: grid;
    grid-template-columns:repeat(4,70px) ;
    
}
input{
    grid-column: span 4;
    height: 70px;
    width: 280px;
    background-color: #ecf0ecf3;
    box-shadow: inset -5px -5px 12px #ffffff;
    border: none;       
    border-radius: 30px;
    color: rgb(70, 70, 70);
    font-size: 50px;
    text-align: end;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 30px;
    padding: 20px;

}
button{
    height: 48px;
    width: 65px;
    background-color: #ecf0ecf3;
    border: none;
    border-radius: 50%;
    margin: 8px;
    font-family: sans-serif;
    font-size: 16px;
}
.equal{
    width: 120px ;
    border-radius: 30px;
    background-color: #ffffff;
    box-shadow: khaki;
    
}